h1 {
  text-align: center;
}

.counter-component {
  background-color: #ccc;
  margin: 20px;
  padding: 10px;
}

.timer-display {
  background-color: #ef67ef;
  margin: 20px;
  padding: 10px;
}

.running {
  background-color: #22ef45;
}
